#border{
  width: 100%;
  height: 100%;

}
body {
 
  background-color:#1e2d38;
}
#neomlogo {
  height: 120%;
  width: 140%;
}

#neomlogo img{
    position: absolute;
    top: 0%;
    left: 0%; 
}

#bjTrojena img{
  position: absolute;
  max-width: 26%;
  height: auto;
  left: 50%;
  top: 15%;
  display: block;
  border-radius: 9%;
}

#theLine img {
  position: absolute;
  display: block;
  border-radius: 9%;
  max-width: 26%;
  height: auto;
  top: 15%;
  left: 20%;
}

#hd1 {
  font-size: 297%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3%;
}
#content {
  position: absolute;
  font-size: larger;
  bottom: 8%;
  left: 18%;
  top: 43%;
  color: aliceblue;
}

#LineP {
  position: absolute;
    font-size: larger;
    bottom: 8%;
    left: 2%;
    top: 13%;
    color: aliceblue;
}

#Area {
  position: absolute;
  font-size: larger;
  bottom: 8%;
  left: 20%;
  top: 79%;
  color: rgb(253, 253, 253);
  

}

#examble {
  height: 10%;
  width: 10%;
}
#examble img{
 
  position: absolute;
  margin: auto;
  display: block;
  
  height: 60%;
  left: 381%;
  top: 70%;
  border-radius: 9%;
}

#site { 
   position: absolute;
  bottom: -55%;
  left: 1%;
  font-size: 20;
  
}
#myTable {
  position: absolute;
  width: 189%;
  left: 33%;
  bottom: -45%;
  padding: 120%;
  display: table;
}

#heading {
  position: absolute;
  width: 100%;
  left: 201%;
  bottom: 3%;
}


#para {
  font-size: xx-large;
  position: relative;
  left: 47%;
  bottom: -52%;
}

