
body {
 
  background-color:#1e2d38;
}
#neomlogo {
  height: 120px;
  width: 140px;
}

#neomlogo img{
    position: absolute;
    top: 0px;
    left: 0px; 
}

#bjTrojena img{
  position: absolute;
  max-width: 26%;
  height: auto;
  left: 41%;
  top: 126px;
  display: block;
  border-radius: 20px;
}

#theLine img {
  position: absolute;

  display: block;
  border-radius: 20px;
  max-width: 26%;
  height: auto;
  top: 126px;
  left: 178px;
}
#hd1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px;
}
#content {
  position: absolute;
  font-size: larger;
  bottom: 8px;
  left: 18px;
  top: 43%;
  color: aliceblue;
}

#LineP {
  position: absolute;
    font-size: larger;
    bottom: 8px;
    left: 2px;
    top: 13%;
    color: aliceblue;
}

#Area {
  position: absolute;
  font-size: larger;
  bottom: 8px;
  left: 20px;
  top: 79%;
  color: rgb(253, 253, 253);
}

#examble {
  height: 10px;
  width: 10px;
}
#examble img{
 
  position: absolute;
  margin: auto;
  display: block;
  width: 600%;
  height: 60%;
  left:705px;
  top: 81%;
  border-radius: 17px;
}

#site { 
   position: absolute;
  bottom: -45%;
  left: 1%;
  font-size: 20px;
  
}
